<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /WeShare/


RewriteRule   ^Accueil/$   /WeShare/index.php?page=accueil.php [NC]
RewriteRule   ^Connexion/$   /WeShare/index.php?page=login.php [NC]
RewriteRule   ^Login/$   /WeShare/index.php?page=login [NC]
RewriteRule   ^Inscription/$   /WeShare/index.php?page=register.php [NC]
RewriteRule   ^Register/$   /WeShare/index.php?page=register [NC]
RewriteRule   ^Membres/AddFriend/([0-9]+)/$   /WeShare/index.php?page=membres.php&addFriend=$1 [NC]
RewriteRule   ^Membres/(.+)/$   /WeShare/index.php?page=membres.php&profil=$1 [NC]
RewriteRule   ^Membres/$   /WeShare/index.php?page=membres.php [NC]
RewriteRule   ^Films/$   /WeShare/index.php?page=films.php [NC]
RewriteRule   ^Evenements/$   /WeShare/index.php?page=evenements.php [NC]
RewriteRule   ^Deconnexion/$ /Weshare/index.php?page=deconnexion [NC]
RewriteRule   ^Profil/$   /WeShare/index.php?page=profil.php [NC]
RewriteRule   ^Profil/Edit/$   /WeShare/index.php?page=profil.php&action=edit [NC]
RewriteRule   ^Profil/Amis/$   /WeShare/index.php?page=profil.php&action=amis [NC]
RewriteRule   ^Profil/Amis/Retirer/(.+)/$   /WeShare/index.php?page=profil.php&action=amis&suppr=$1 [NC]
RewriteRule   ^Profil/Amis/Accepter/(.+)/$   /WeShare/index.php?page=profil.php&action=amis&add=$1 [NC]
RewriteRule   ^Profil/Amis/Refuser/(.+)/$   /WeShare/index.php?page=profil.php&action=amis&no=$1 [NC]
RewriteRule   ^Profil/Amis/Ignorer/(.+)/$   /WeShare/index.php?page=profil.php&action=amis&ignore=$1 [NC]
RewriteRule   ^Profil/Films/$   /WeShare/index.php?page=profil.php&action=films [NC]
RewriteRule   ^Profil/(.+)/$ /Weshare/index.php?page=profil.php&action=$1
</IfModule>
